*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('../../fonts/Agrandir/Agrandir-Regular.otf') format('opentype');}

@font-face {
    font-family: 'Agrandir-WideLight';
    src: url('../../fonts/Agrandir/Agrandir-WideLight.otf') format('opentype');}

.branchContainer{
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: space-evenly;
}

.branch {
    background-color: white;
    color: black;
    padding: 20px;
    width: 25vw;
}